@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=d1324b93ed798f1436ed7f8c874e271f'); /* IE9 */
  src: url('iconfont.eot?t=d1324b93ed798f1436ed7f8c874e271f#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=d1324b93ed798f1436ed7f8c874e271f') format('woff2'),
  url('iconfont.woff?t=d1324b93ed798f1436ed7f8c874e271f') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=d1324b93ed798f1436ed7f8c874e271f') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=d1324b93ed798f1436ed7f8c874e271f#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_bitian_16_def:before {
  content: "\e024";
}
.icon-icon_close_16_def:before {
  content: "\e025";
}
.icon-icon_close_24_def:before {
  content: "\e026";
}
.icon-icon_paixu_16_def:before {
  content: "\e027";
}
.icon-icon_jingshi_24_def:before {
  content: "\e028";
}
.icon-icon_home_16_def:before {
  content: "\e029";
}
.icon-icon_shaixuan_16_def:before {
  content: "\e02a";
}
.icon-icon_right_16_def:before {
  content: "\e02b";
}
.icon-icon_rili_16_def:before {
  content: "\e02c";
}
.icon-icon_xiala_16_def:before {
  content: "\e02f";
}
.icon-icon_Under_16_def:before {
  content: "\e030";
}
.icon-icon_xiala_32_def:before {
  content: "\e031";
}
.icon-icon_tixing_24_def:before {
  content: "\e034";
}
.icon-icon_xiashiye_16_def:before {
  content: "\e035";
}
.icon-icon_shangshiye_16_def:before {
  content: "\e036";
}
.icon-icon_chazhao_16_def2x:before {
  content: "\e038";
}
