/* Color
-------------------------- */
$--sc-color-primary: #4A556B !default; //#409EFF
$--sc-color-white: #FFFFFF !default;
$--sc-color-blue: #3979F9 !default;
$--dashed-split-line-color: #d8d8d8 !default; // 虚线分割线颜色
$--scrollbar-thumb-bg-color: #f5f6f7 !default;
