/* radius size
-------------------------- */
$--radius-2: 2px;
$--radius-4: 4px;
$--radius-8: 8px;
$--radius-medium: 16px;
$--radius-large: 24px;
$--radius-round: 50%;

/* space size
-------------------------- */
$--space-4: 4px;
$--space-8: 8px;
$--space-16: 16px;
$--space-24: 24px;
$--space-32: 32px;
$--space-40: 40px;
